* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 250);
    color: black;
    line-height: 1.5;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(255, 213, 220);
    box-shadow: 0 5px 35px rgba(119, 6, 64, 0.4);
}

header h1 {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;   
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
}

header h1 {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    background-image: url(/assets/images/banner.jpeg);
    margin: 0;
    font-size: 4vw;
    line-height: 1;
    }

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    padding: 5px 10px;
    color: rgb(209, 15, 106);
    margin-right: 20px;
    font-size: 1.3rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: rgb(234, 136, 8);
}
  
nav a:last-child {
    margin-right: 0;
}
  
main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.banner {
    background-image: url('/assets/images/banner.jpeg');
    background-position: center;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.banner div {
    flex: 0 0 90%;
}

.banner h2 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
}

.page-content {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-content > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid pink;
    font-size: 4vw;
    line-height: 1.1;
}

.page-content > div{
    flex: 0 0 77%;
}

.page-content p {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Casamia-home-improvement {
    border: 5px solid pink;
    box-sizing: border-box;
    background-color: transparent;
    background-position: center center;
    color: rgb(5, 0, 1);
    min-height: 400px;
    min-width: 800px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 30px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: cover;
    transition: all 0.5s;
    font-size: 0.9rem;
}

.Casamia-home-improvement div {
    background-color: rgb(201, 222, 242);
    padding: 8px 10px;
}

.flex-item {
    border: 5px solid pink;
    background-color: transparent;
    background-position: center center;
    color: rgb(5, 0, 1);
    min-height: 200px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 30px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: cover;
    transition: all 0.5s;
    font-size: 0.9rem;
}

.flex-item:hover {
    background-color: rgb(247, 237, 224);
}

.flex-item div {
    background-color: rgb(201, 222, 242);
    padding: 8px 10px;
}

.flex-item h3 {
    font-size: 1.6rem;
}

.contact {
    justify-content: center;
    padding: .5vw;
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.contact img {
    max-width: 100%;   
}

.nfinibus-sed {
    background-image: url('/assets/images/photo-1584028887908-f6d2257fe9d4.jpeg');
}

.Lorem-ipsum {
    background-image: url('/assets/images/Cinderella-Castles-50th-anniversary-look-1536x915.jpg');
}

.Neque-porro {
    background-image: url('/assets/images/Cinderella-Castle_Full_43148.webp');
}

.praesent-vel {
    background-image: url('/assets/images/wp2636088-disney-castle-wallpaper.jpg');
}   

.phasellus-nibh {
    background-image: url('/assets/images/VXmENy.webp');
}

.Casamia-home-improvement {
    background-image: url('/assets/images/LogoCasamia.jpg');
}

@media screen and (max-width: 980px) {
    header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
}
  
    header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
}
  
    header nav {
    justify-content: center;
    text-align: center;
    }

    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var pink;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
    }
}
section.Contact-info#contact {
    display: flex;
    justify-content: center;  
    text-align: center;
    flex-direction: column;
}

  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
    justify-content: center;
    text-align: center;
}

}
  